@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500&family=McLaren&family=Merriweather:ital,wght@0,400;1,400;1,900&family=PT+Sans&family=PT+Sans+Caption:wght@700&family=Poppins:ital,wght@0,100;0,200;1,100&family=Roboto:ital,wght@0,300;1,900&display=swap");
@import "../../../styles/breakpoints";

.final_submition_card {
  width: 463px;
  background-color: white;
  border-radius: 7px;
  p,
  span {
    font-size: 20px;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
  }
}
@media (min-width: 280px) and (max-width: $mobile-small) {
    .final_submition_card{
        width: auto;
        p, span{
            font-size: 18px;
        }
    } 
}
