@import "../../../styles/font";
@import "../../../styles//breakpoints";

.heroSection_outer {
  width: 100%;
  height: 100vh;
}
.Hero_section {
  h1 {
    width: 100%;
    font-family: "Domine", serif;
    font-size: 72px;
    color: white;
  }
  .title {
    color: white;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.3px;
    margin-bottom: 30px;
    // font-family: "Domine", serif;
  }
  button {
    // box-shadow: 0px 0px 1px #000, 0px 7px 17px rgba(0, 0, 0, 0.2);
    display: inline-block;
    border-radius: 9px;
    padding: 10px 40px;
    font-size: 17px;
    background: #222;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    color: #F17C72;;
    border: none;
  }

}
.underline_vedio_container {
  margin: auto;
  width: 120px;
  position: relative;
  top: 5px;
  z-index: -9999;
  video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-radius: 8px;
    margin-top: 10px;
  }
}
@media (min-width: 280px) and (max-width: $mobile-small) {
  .Hero_section {
    h1 {
      font-size: 50px;
    }
    .title {
      font-size: 22px;
    }
    button {
      font-size: 15px;
    }
  }
}
