@import "../../../styles/breakpoints";
.header_left {
  font-size: 40px;
  color: white;
}
.header_right {
  margin-top: 22px;
  color: white;
}

@media (min-width: 280px) and (max-width: $mobile-small) {
  .header_left {
    font-size: 30px;
  }
  .header_right {
    margin-top: 12px;
  }
}
