@import "../../../styles/breakpoints";
@import "../../../styles/variable";
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500&family=Hepta+Slab&family=McLaren&family=Merriweather:ital,wght@0,400;1,400;1,900&family=PT+Sans&family=PT+Sans+Caption:wght@700&family=Poppins:ital,wght@0,100;0,200;0,500;1,100&family=Roboto:ital,wght@0,300;1,900&display=swap");

.card_content {
  width: 66%;
}
.heading_style,
.collections_name {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  line-height: 57px;
  font-weight: 500;
  color: $color-back;
}
.title_style {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}
.summary_style {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.user_pic_container {
  position: relative;
  height: 70px;
}
@media (min-width: $tablet) and (max-width: $desktop) {
  .card_content {
    width: 75%;
  }
}
@media (min-width: $mobile) and (max-width: $tablet) {
  .card_content {
    width: 100%;
  }
}
@media (min-width: $mobile-small) and (max-width: $mobile) {
  .card_content {
    width: 100%;
  }
}
@media (min-width: 280px) and (max-width: $mobile-small) {
  .card_content {
    width: 100%;
  }
  .heading_style {
    font-size: 28px;
    line-height: 40px;
  }
  .title_style {
    font-size: 16px;
    line-height: 21px;
  }
  .summary_style {
    font-size: 13px;
    line-height: 23px;
  }
}
@media (min-width: 280px) and (max-width: 325px) {
  .user_pic_container {
    img {
      width: 44px !important;
      height: 44px !important;
    }
  }
}
